$brand: #225635;
$brand-light: #34794d;
$brand-dark: #174929;
$gray-700: #747474;
$gray-800: #858585;
$bg-card: rgba(0, 0, 0, 0.5);
$h1-color: #FFFFFF;
$p: $h1-color;
$text-input: rgba(255, 255, 255, 0.5);
$border: 000000;